.espace-pub{
    display: flex;
    width: 85%;
    border: 2px solid rgb(190,74,48);
    border-radius: 35px;
    background: rgb(184,168,161);
    margin: 100px;
  }

  .logo-wild-code{
    background-image: url('./img/logo_wild_code_school.png');
    background-repeat: no-repeat;
    background-size: 365px;
    width: 40%;
    height: 130px;
    margin: 70px;
  }

  .text-learn-tech{
    font-size: 2.5em;
    color: rgba(190,74,48);
    line-height: 4em;
  }

  .contact-1 .button-web {
    width: 270px;
    color: rgb(190,74,48);
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    background: rgba(225,205,197);
    border: 2px solid black;
    border-radius: 50px;
    line-height: 3em;
  }

  .button-web{
    text-decoration: none;
  }

  .contact-1 .button-web:hover {
    opacity: 0.8;
  }


  .contact-2{
    display: flex;
    width: 80%;
    margin: auto;
  }

  .contact .logo-pic2pic{
    display: flex;
    width: 30%;
    background-image: url(./img/Pic2pic-logo.png);
    background-repeat: no-repeat;
    background-size: 370px;
  }

  .team{
    width: 20%;
  }

  .team h3{
    color: rgba(16,122,129);
    font-size: 2em;
    text-align: center;
  }

  .team p{
    font-size: 1.5em;
    text-align: center;
    line-height: 3.5em;
    color: rgb(105,101,93);
  }


  .school{
    width: 30%;
  }

  .text-wcs h3{
    font-size: 2em;
    text-align: center;
    color: rgb(237,169,46);
  }

  .text-wcs p{
    font-size: 2.7em;
    text-align: center;
    line-height: 2.5em;
    color: rgba(235,109,112);
  }

  .logo-social{
    display: flex;
    justify-content: center;
  }

  .logo-facebook{
    background-image: url('./img/logo-facebook.png');
    background-repeat: no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
    margin: auto;
  }

  .logo-twitter{
    background-image: url('./img/logo-twitter.png');
    background-repeat: no-repeat;
    background-size: 100px;
    width: 100px;
    height: 70px;
    margin: auto;
  }

  .logo-instagram{
    background-image: url('./img/logo-instagram.png');
    background-repeat: no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
    margin: auto;
  }

  .work{
    width: 20%;
  }

  .work h3{
    color: rgba(190,74,48);
    font-size: 2em;
    text-align: center;
  }

  .work p{
    font-size: 1.5em;
    text-align: center;
    line-height: 3.5em;
    color: rgb(105,101,93);
  }
