.espace-pub{
    display: flex;
    width: 85%;
    border: 2px solid black;
    border-radius: 35px;
    background: rgb(54,72,107);
    background: linear-gradient(90deg, rgba(54,72,107,1) 0%, rgba(105,165,181,1) 36%, rgba(128,206,214,1) 52%, rgba(213,244,230,1) 100%);
    margin: 100px;
  }

  .logo-wild-code{
    background-image: url('./img/logo_wild_code_school.png');
    background-repeat: no-repeat;
    background-size: 365px;
    width: 40%;
    height: 130px;
    margin: 70px;
  }

  .text-learn-tech{
    font-size: 2.5em;
    color: rgba(235,109,112);
    line-height: 4em;
  }

  .contact-1 .button-web {
    width: 270px;

    /* modify ? */
    /* padding: 0.8em;
    margin-top: -100px;
    margin-bottom: 50px; */

    color: white;
    /* text-decoration: none; */

    font-size: 1.5em;
    background: rgba(235,109,112);

    border: 2px solid black;
    border-radius: 50px;

    /* transition: all 0.3s ease-in-out; */
    line-height: 3em;
  }

  .button-web{
    text-decoration: none;
  }

  .contact-1 .button-web:hover {

    /* color: rgb(209, 165, 49); */
    opacity: 80%;
    /* background-color: rgba(255, 255, 255, 0); */
  }


  .contact-2{
    display: flex;
    width: 80%;
    margin: auto;
  }

  .text-pic2pic{
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    align-items: center;
  }

  .team{
    width: 20%;
  }

  .team h3{
    color: rgba(16, 84, 146);
    font-size: 2em;
    text-align: center;
  }

  .team p{
    font-size: 1.5em;
    text-align: center;
    line-height: 3.5em;
  }


  .school{
    width: 30%;
  }

  .text-wcs h3{
    font-size: 2em;
    text-align: center;
    color: rgba(100, 3, 8);
  }

  .text-wcs p{
    font-size: 2.7em;
    text-align: center;
    line-height: 2.5em;
  }

  .logo-social{
    display: flex;
    margin: auto;
  }

  .logo-facebook{
    background-image: url('./img/logo-facebook.png');
    background-repeat: no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
    margin: auto;
  }

  .logo-twitter{
    background-image: url('./img/logo-twitter.png');
    background-repeat: no-repeat;
    background-size: 100px;
    width: 100px;
    height: 70px;
    margin: auto;
  }

  .logo-instagram{
    background-image: url('./img/logo-instagram.png');
    background-repeat: no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
    margin: auto;
  }


  .work{
    width: 20%;
  }

  .work h3{
    color: rgba(37, 77, 25);
    font-size: 2em;
    text-align: center;
  }

  .work p{
    font-size: 1.5em;
    text-align: center;
    line-height: 3.5em;
  }


  .pic-1 {
    color: rgba(100, 3, 8);
    }
    .deux {
    color: rgba(16, 84, 146);
    }
    .pic-2 {
    color: rgba(37, 77, 25);
    }
