*{
    margin:0;
    padding: 0;
    font-family: cursive;
}

.hero-header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url('./img/photo_hero_header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-pic2pic{
    width: 50%;
    height: 230px;
    background-image: url('./img/Pic2pic-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 730px;
    margin-top: 25px;
}

.hero-header h2 {
    font-size: 3.5em;
    color: rgb(105,101,93);
}

.hero-header hr {
    width: 840px;
    border: 2px solid rgb(105,101,93);
}

.hero-pen{
    background-image: url('./img/draw_hero_header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 310px;
    height: 160px;
    margin-bottom: 100px;
}

.hero-header .button {
    width: 270px;
    padding: 0.8em;
    margin-top: -100px;
    margin-bottom: -170px;
<<<<<<< HEAD
    color: white;
=======
    color: rgb(190,74,48);
>>>>>>> origin/style-css
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    background: rgb(225,205,197);
    border: 2px solid black;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.hero-header .button:hover {
    opacity: 80%;
    background-color: rgba(255, 255, 255, 0);
}

