*{
    margin:0;
    padding: 0;
    font-family: cursive;
}



.hero-header {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

    background-image: url('./img/photo_hero_header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* .hero-header h1 {
    font-size: 10em;
    margin-top: 70px;
}

.pic-1 {
    color: rgba(16, 84, 146);
}
.deux {
    color: rgba(37, 77, 25);
}
.pic-2 {
    color: rgba(100, 3, 8);
} */

.logo-pic2pic{
    width: 50%;
    height: 230px;
    background-image: url('./img/Pic2pic-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 730px;
    margin-top: 25px;
}

.hero-header h2 {
    font-size: 3.5em;
    color: black;
}

.hero-header hr {
    width: 840px;
    border: 2px solid black;
}

.hero-pen{
    background-image: url('./img/draw_hero_header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 310px;
    height: 160px;
    margin-bottom: 100px;

}

.hero-header .button {
    width: 270px;

    padding: 0.8em;
    margin-top: -100px;
    margin-bottom: -170px;

    color: white;
    text-decoration: none;
    font-size: 1.5em;
    background: rgb(54,72,107);
    background: linear-gradient(90deg, rgba(54,72,107,1) 0%, rgba(105,165,181,1) 36%, rgba(128,206,214,1) 52%, rgba(213,244,230,1) 100%);
    /* background: rgb(18,143,227);
    background: linear-gradient(51deg, rgba(18,143,227,1) 0%, rgba(252,69,129,0.7889356426164216) 100%); */

    border: 2px solid black;
    border-radius: 50px;

    transition: all 0.3s ease-in-out;
}

.hero-header .button:hover {
    color: rgb(209, 165, 49);
    background-color: rgba(255, 255, 255, 0);
}

hr{
    border: 2px solid black;
}
