
.container{
    /* Le margin permettra d'ajuster sur la page le bloc container*/
    /*margin: 150px 0px 40px 0px;*/
    background-color: grey;
    border: 1px solid black;
    width: 300px;
    height: 250px;
    border-radius: 10px;
  }
  .box{
    display: flex;
  }
  .lobby{
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    width: 300px;
    border-bottom: 1px solid black;
  }
  .round{
    display: flex;
    font-size: 30px;
    margin-left: 8px;
    width: 150px;
  }
  .themes{
    display: flex;
    font-size: 30px;
    margin-left: 8px;
    width: 150px;
  }
  .list{
    margin-left: 10px;
    width: 150px;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }