.ButtonRefresh{
  margin-top: 3px;
  width : 20%;
  border-radius: 10px;
  background-color: black;
  color : white; 
}

.div-button-refresh{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
