.ButtonRefresh, .SaveTheDraw, .DraftBack {
  margin-top: 5px;
  margin-left: 5px;
  width : 25%;
  height: 40px;
  border-radius: 20px;
  background-color: #6698cb;
  color : white;
}

.div-button-refresh{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
