
.chat-zone{
  font-size: 30px;
  background-color: #FFFFFF;
  height : 500px;
  border : 3px solid black;
  border-radius: 5px;
  width: 350px;
  opacity: 60%;
  overflow: auto;
}  
.text-area{
  font-size: 20px;
  width: 350px;
  height: 40px;
  border: 3px solid black;
  margin-top: 5px;
  border-radius: 5px;
}
.submit-button{
  font-size: 15px;
  background-color: rgba(23, 135, 251);
  width: 60px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid rgba(23, 135, 251)
}