
.chat-zone{
  font-size: 30px;
  background-color: rgb(225,205,197);
  height : 500px;
  border : 3px solid rgb(190,74,48);
  border-radius: 5px;
  width: 100%;
  opacity: 60%;
  overflow: auto;
}

.chat-form{
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-top: 10px;
}

.text-area{
  font-size: 15px;
  width : 75%;
  height: 40px;
  border: 3px solid rgb(190,74,48);
  background-color: rgb(237,169,46);
  margin-top: 5px;
  border-radius: 5px;
  padding-left: 5px;
}

.submit-button{
  font-size: 15px;
  background-color: rgb(225,205,197);
  width: 20%;
  height: 30px;
  border-radius: 20px;
  border: 2px solid rgb(190,74,48);
  color : rgb(190,74,48);

}




/* rgba(23, 135, 251) */
