.colButton{
  /* margin: 0 15px 0 0; */
	width: 20%;
	height: 40px;
	display: inline-block;
  margin : 0;
}

/* .colButton:first-child{
	border-radius: 5px 0 0 5px;
} */

.colButton:last-child{
	border-radius: 0 5px 5px 0;
}

.colButton:first-child{
	border-radius: 5px 5px 5px 5px;
}
