.wordInDrawer{
  background-color: #FFFFFF;
  height: 150px;
  width: 100%;
  opacity: 0.6;
  border-radius: 10px;
}

.theword{
  margin-top: 20px;
}

.hints{
  margin-top: 20px;
  color: #000000;

}
