li{
  list-style-type: none;
  padding: 10px;
  height: 25px;
}

.Header{
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #727C7B;
  color : #FFFFFF;
}
