*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.pencils-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('./img/pencils-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.components-page {
    width: 65%;
    margin-left: auto;
    margin-top: 40px;
}

.title-profile {
    width: 85%;
    font-size: 3em;
    margin: auto;
    margin-bottom: 50px;
}

.word-create {
    color: rgba(16, 84, 146);
}

.word-your {
    color: rgba(37, 77, 25);
}

.word-profile {
    color: rgba(100, 3, 8);
}

.name-profile {
    width: 50%;
    font-size: 1.5em;
}

.avatar-profile {
    width: 90%;
    border: 3px black solid;
    background-color: #f2ecec;
    border-radius: 10px;
}

.choose-drawer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.9em;
}

.list-avatars {
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
}

.ghost {
    width: 20%;
    height: 20%;
    margin: 20px;
    height: 150px;
    border: 1px black solid;
    background-image: url('./img/ghost.png');
    background-size: cover;
}

.frog {
    width: 20%;
    height: 20%;
    margin: 20px;
    height: 150px;
    border: 1px black solid;
    background-image: url('./img/frog.png');
    background-size: cover;
}

.genie {
    width: 20%;
    height: 20%;
    margin: 20px;
    height: 150px;
    border: 1px black solid;
    background-image: url('./img/genie.png');
    background-size: cover;
}

.skeleton {
    width: 20%;
    height: 20%;
    margin: 20px;
    height: 150px;
    border: 1px black solid;
    background-image: url('./img/skeleton.png');
    background-size: cover;
}

.unicorn {
    width: 20%;
    height: 20%;
    margin: 20px;
    height: 150px;
    border: 1px black solid;
    background-image: url('./img/unicorn.png');
    background-size: cover;
}

.mermaid {
    width: 20%;
    height: 20%;
    margin: 20px;
    height: 150px;
    border: 1px black solid;
    background-image: url('./img/mermaid.png');
    background-size: cover;
}

.invisibleman {
    width: 10%;
    height: 20%;
    margin: 20px;
    height: 100px;
    border: 1px black solid;
    /* background-image: url('./img/invisibleman.png'); */
    background-size: cover;
}

.witch {
    width: 20%;
    height: 20%;
    margin: 20px;
    height: 150px;
    border: 1px black solid;
    background-image: url('./img/witch.png');
    background-size: cover;
}

.user-profile{
  width: 60%;
  height: 30px;
  margin-bottom: 20px;
  border: 1px black solid;
  color: black;
  font-size: 15px;
  border-radius: 5px;
}


.player-play{
  width: 270px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 280px;
  /* float : right; */
  background: rgba(235,109,112);
  transition: all 0.3s ease-in-out;
}

.button-play{

  text-align: center;
  color : white;
  text-decoration: none;
}

.form-profile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
