*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.pencils-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('./img/pencils-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.components-page {
    width: 65%;
    margin-left: auto;
    margin-top: 40px;
}

.title-profile {
    width: 85%;
    font-size: 3em;
    margin: auto;
    margin-bottom: 50px;
}

.word-create {
    color: black;
}

.word-your {
  color: black;
}

.word-profile {
  color: black;
}

.name-profile {
    width: 50%;
    font-size: 1.5em;
}

.avatar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    width: 90%;
    height: 280px;
    text-align: center;
    border: 3px black solid;
    background-color: #f2ecec;
    border-radius: 10px;

}

.choose-drawer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.9em;
}

.list-avatars {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.invisibleman {
    width: 10%;
    height: 10%;
    /* background-image: url('./img/invisibleman.png'); */
    background-size: cover;
    border: 1px solid black;
    border-radius: 50px;
}

.invisibleman:hover{
  
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.7) ;
}

.witch {
    width: 20%;
    height: 20%;
    margin: 20px;
    height: 150px;
    border: 1px black solid;
    background-image: url('./img/witch.png');
    background-size: cover;
}

.user-profile{
  width: 40%;
  height: 30px;
  margin-bottom: 0px;
  margin-top: 30px;
  border: 1px black solid;
  color: black;
  font-size: 15px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.button-play{
  
    width: 270px;
    height: 75px;
    border: 2px solid rgb(190, 74, 47);
    border-radius: 50px;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 120px;
    margin-right: 100px;
    display: flex;
    float: right;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    padding: 0.8em;
    color: white;
    text-decoration: none;
    background: rgb(225, 205, 197);
}

.button-play:hover{
    color: rgba(190,74,47) !important;
    letter-spacing: 3px;
    opacity: 0.8;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(190,74,47,0.8);
    -moz-box-shadow: 0px 5px 40px -10px rgba(190,74,47,0.8);
    transition: all 0.3s ease 0s;
}
.text-button-play{
  color: rgba(190,74,47);
  display: flex;
  margin-top: -10px;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.form-profile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  height: 200px;
}

.show-avatar{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  text-align: center;
  border: 3px black solid;
  background-color: #f2ecec;
  border-radius: 10px;
}

.show-avatar h3{
  margin-top: 25px;
}

.avatar-choosing {
  margin: 20px;
  height: 70%;
  background-size: cover;
  /* border: 1px black solid; */
  /* background-image: url(./img/invisibleman.png); */
 }
