*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.pencils-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('./img/pencils-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.components-page {
    width: 65%;
    margin-left: auto;
    margin-top: 40px;
}

.title-profile {
    width: 85%;
    font-size: 3em;
    margin: auto;
    margin-bottom: 50px;
}

.word-create {
    color: rgba(16, 84, 146);
}

.word-your {
    color: rgba(37, 77, 25);
}

.word-profile {
    color: rgba(100, 3, 8);
}

.name-profile {
    width: 50%;
    font-size: 1.5em;
}

.avatar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    width: 90%;
    height: 280px;
    text-align: center;
    border: 3px black solid;
    background-color: #f2ecec;
    border-radius: 10px;

}

.choose-drawer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.9em;
}

.list-avatars {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.invisibleman {
    width: 10%;
    height: 10%;
    /* background-image: url('./img/invisibleman.png'); */
    background-size: cover;
    border: 1px solid black;
    border-radius: 50px;
}

.invisibleman:hover{
  
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.7) ;
}

.witch {
    width: 20%;
    height: 20%;
    margin: 20px;
    height: 150px;
    border: 1px black solid;
    background-image: url('./img/witch.png');
    background-size: cover;
}

.user-profile{
  width: 40%;
  height: 30px;
  margin-bottom: 0px;
  margin-top: 30px;
  border: 1px black solid;
  color: black;
  font-size: 15px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* .player-buttons-play{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

/*.player-play{

  width: 270px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 280px;
  transition: all 0.3s ease-in-out;
}*/

.button-play{
  
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 280px;
    transition: all 0.3s ease-in-out;
    padding: 0.8em;
    color: white;
    text-decoration: none;
    background: rgb(54,72,107);
    background: linear-gradient(90deg, rgba(54,72,107,1) 0%, rgba(105,165,181,1) 36%, rgba(128,206,214,1) 52%, rgba(213,244,230,1) 100%);
}

.form-profile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  height: 200px;
}

.show-avatar{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  text-align: center;
  border: 3px black solid;
  background-color: #f2ecec;
  border-radius: 10px;
}

.show-avatar h3{
  margin-top: 25px;
}

.avatar-choosing {
  margin: 20px;
  height: 70%;
  background-size: cover;
  /* border: 1px black solid; */
  /* background-image: url(./img/invisibleman.png); */
 }
