/* Position du bouton start sur la page*/
.start{
    display: flex;
    float: right;
    margin: 70px 300px 0px 0px;
    font-weight: bold;
    font-size: 45px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.start{
    border: none;
    background: rgb(127,172,223);
    background-image: url('./img/wood-lobby.jpg');
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    margin: 70px 300px 0px 0px;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
}
.start:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }
/* Permet de centrer le mot Start dans le bouton*/ 
.center-text{
    color: rgba(51, 51, 51);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}