/* Position du bouton start sur la page*/
.start{
    display: flex;
    float: right;
    font-weight: bold;
    font-size: 1.5em;
    width: 270px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50px;
    /* background: rgb(127,172,223); */
    background-image: url('./img/wood-lobby.jpg');
    /* color: #ffffff !important; */
    /* font-weight: 100; */
    /* padding: 20px; */
    text-transform: uppercase;
    /* border-radius: 6px; */
    margin: 260px 600px 0px 0px;
    transition: all 0.3s ease 0s;
    /* text-align: center; */

}
.start:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background-image: url('./img/wood-lobby.jpg');
    opacity: 0.8;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.8);
    transition: all 0.3s ease 0s;
    }
/* Permet de centrer le mot Start dans le bouton*/
.center-text{
    color: rgba(51, 51, 51);
    display: flex;
    margin-top: -10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
}
