/* Les 3 sous point contrôle le Join a friend with the URL*/
.link{
    color: rgba(105,101,93);
    font-size: 30px;
    display: flex;
    margin-left: 50px;;
    width: 1403px;
    height: 50px;
    background-color: rgba(237,169,46);
    border-radius: 10px;
}

.join-friend{
    display: flex;
    margin-left: 360px;
    margin-top: 5px;
}
.link-one{
    font-size: 25px;
    display: flex;
    margin-top: 3px;
    margin-left: 15px;
    width: 350px;
    height: 40px;
    background-color: white;
    border: 3px solid rgb(190,74,48);
    border-radius: 3px;
}
